[data-name="ArrowDown01Animate"]:hover rect[x="15"][y="4"][width="4"][height="6"] {
    animation: rectMoveDown 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

[data-name="ArrowDown01Animate"]:hover path[d="M17 20v-6h-2"],
[data-name="ArrowDown01Animate"]:hover path[d="M15 20h4"] {
    animation: pathsMoveUp 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes rectMoveDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

@keyframes pathsMoveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}