[data-name="ArrowDownZAAnimate"] path[d="M15 4h5l-5 6h5"] {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-name="ArrowDownZAAnimate"] path[d="M15 20v-3.5a2.5 2.5 0 0 1 5 0V20"],
[data-name="ArrowDownZAAnimate"] path[d="M20 18h-5"] {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-name="ArrowDownZAAnimate"]:hover path[d="M15 4h5l-5 6h5"] {
    transform: translateY(10px);
}

[data-name="ArrowDownZAAnimate"]:hover path[d="M15 20v-3.5a2.5 2.5 0 0 1 5 0V20"],
[data-name="ArrowDownZAAnimate"]:hover path[d="M20 18h-5"] {
    transform: translateY(-10px);
}