@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.mainDiv {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202124;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}


.inpTime {
  position: relative;
  transform: scale(1.5);
}

.inpTime svg {
  position: absolute;
  background: #eee;
  z-index: 1;
  top: 9px;
  left: 11px;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(0, 0, 0);
}

.inpTime svg path {
  stroke: #2D2E31;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

input[type="time"] {
  position: relative;
  background: #2D2E31;
  color: #eee;
  border-radius: 8px;
  appearance: none;
  border: 0;
  text-align: center;
  padding: 6px 12px 6px 33px;
  outline: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  height: 32px;
}

input[type="time"]:focus {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: -4px;
  background: none;
}