/* TODO. Tailwind CSS  */
/* CLEAN: Step 2 ✔️ Step 3 ✔️ Step 7 ✔️ */
/* TW: Step 2 ✔️ */

.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  mark {
    background: none;
    position: relative;
  }
  
  mark::before,
  mark::after {
    mix-blend-mode: multiply;
    position: absolute;
    content: "";
    opacity: 1;
    height: 120%;
    width: 90%;
    background-image: linear-gradient(
      -100deg,
      rgba(255, 250, 150, 0.6),
      #fffa96 100%,
      rgba(255, 250, 150, 0.8)
    );
  }
  
  mark::before {
    transform: rotate(1deg) translatey(-0.125em) translatex(-0.125em);
  }
  
  mark::after {
    left: 30%;
    top: 0;
    opacity: 0.8;
    width: 66%;
    transform: rotate(-0.5deg) translatey(0.1em) translatex(0.33em);
  }
  