@layer view-transitions {

	@supports (x: attr(x type(*))) {
		.warning {
			display: none;
		}
	}

	.card[id] {
		view-transition-name: attr(id type(<custom-ident>), none);
		/* card-1, card-2, card-3, etc. */
		view-transition-class: card;
	}

	:root {
		view-transition-name: none;
	}

	::view-transition {
		pointer-events: none;
	}
}

@layer layout {
	.card {
		width: 20vw;
		max-width: 5em;
		aspect-ratio: 1 / 1.6;
	}

}

@layer warning {
	.warning {
		background: rgba(255 0 0 / 0.8);
	}

	.warning> :first-child {
		margin-top: 0;
	}

	.warning> :last-child {
		margin-bottom: 0;
	}

	.warning--info {
		border: 1px solid #123456;
		background: rgb(255 0 0 / 0.8);
	}

	.warning--alarm {
		border: 1px solid red;
		background: #ff000010;
	}
}