@supports (x: attr(x type(*))) {
	.warning {
		display: none;
	}
}

.card[id] {
	view-transition-name: attr(id type(<custom-ident>), none);
	/* card-1, card-2, card-3, etc. */
	view-transition-class: card;
}

:root {
	view-transition-name: none;
}

::view-transition {
	pointer-events: none;
}

.card {
	width: 20vw;
	max-width: 5em;
	aspect-ratio: 1 / 1.6;
}
