@tailwind base;
@tailwind components;
@tailwind utilities;



*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgb(155, 106, 8);
  color: white;
}


@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 7% 10%;
    --primary-foreground: 0 0% 90%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 7% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 7% 10%;
    --success: 81 37% 44%;
    --success-foreground: 71 44% 95%;
    --warning: 32 95% 44%;
    --warning-foreground: 48 100% 96%;
    --error: 14 100% 53%;
    --error-foreground: 0 86% 97%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 86% 97%;
    --border: 240 7% 80%;
    --input: 240 7% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    /* TODO: Shortfix */
    --scrollbar-thumb: #b9b9b9;
    --scrollbar-track: #dddddd;  
  }

  .dark {
    --background: 240 3% 11.5%;
    --foreground: 0 0% 98%;
    --card: 240 3% 10%;
    --card-foreground: 0 0% 70%;
    --popover: 240 3% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 80%;
    --primary-foreground: 240 7% 16%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 30%;
    --input: 240 3.7% 20%;
    --ring: 240 4.9% 83.9%;
    /* TODO: Shortfix */
    --scrollbar-thumb: #555;
    --scrollbar-track: #222;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}




