/* Step 1 ✔️ Step 2 ✔️ Step 3 ✔️ Step 4 ✔️ Step 5 ✔️ Step 6 ✔️ Final ✔️ */


.elg__table__wrap {
  -webkit-overflow-scrolling: touch;
}

.elg__table {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}


/* Active class */
.elg__table td[contenteditable="true"]:focus {
  background: #f5f5f5;
  border-radius: 0.7em;
  box-shadow: 0 1px 5px rgba(22, 22, 22, 0.06);
  outline: 2px solid #161616;
  outline-offset: -2px;
  color: #161616;
}

