body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }
  
  .menu > [popovertarget="menu-popover"] {
    anchor-name: --my-anchor;
      padding: 0.5em;  
  }
  
  .menu :popover-open {
      position: absolute;
      inset: unset;
      position-anchor: --my-anchor;
      top: calc(anchor(bottom) + 0.5em);
      left: anchor(left);
      border: 1px solid darkgray;
    border-radius: 0.5em;
      padding: 0.5em;
  }
  
  .menu__popover {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }