/* TW: Step 1 ✔️ Step 2 ✔️ Step 3 ✔️ */
/* NOTE: Do not add comments for classes you remove during conversion */

.mainDivParent {
    background: radial-gradient(circle at 50% 50%, #192233 20%, #000);
    background-image: radial-gradient(circle at 1% 52%, rgba(139, 139, 139,0.05) 0%, rgba(139, 139, 139,0.05) 50%,rgba(21, 21, 21,0.05) 50%, rgba(21, 21, 21,0.05) 100%),radial-gradient(circle at 41% 28%, rgba(81, 81, 81,0.05) 0%, rgba(81, 81, 81,0.05) 50%,rgba(7, 7, 7,0.05) 50%, rgba(7, 7, 7,0.05) 100%),radial-gradient(circle at 48% 1%, rgba(93, 93, 93,0.05) 0%, rgba(93, 93, 93,0.05) 50%,rgba(7, 7, 7,0.05) 50%, rgba(7, 7, 7,0.05) 100%),linear-gradient(255deg, rgb(156, 41, 132),rgb(47, 14, 122));
}

.mainDiv {
    background-color: rgb(255 255 255 / 21%);
    backdrop-filter: blur(6px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.mainDiv .grid__menu__navigation {
    transition: 0.5s;
}

.mainDiv .grid__menu__navigation span {
    width: 7px;
    height: 7px;
    transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

/* Active class */
.mainDiv .grid__menu__navigation.active span {
    width: 45px;
    height: 45px;
    background: rgb(9 14 22 / 83%);
    transform: translate(calc(60px* var(--x)), calc(60px* var(--y)));
    border-radius: 7px;
    border: 1px solid #ffffff7d;
}

.mainDiv .grid__menu__navigation span ion-icon {
    transition: 0.5s;
}

/* Active class */
.mainDiv .grid__menu__navigation.active span ion-icon {
    font-size: 1.35em;
}

/* Active class */
.mainDiv .grid__menu__navigation.active span:hover ion-icon {
    filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52)
        drop-shadow(0 0 15px #2dfc52);
}

.grid__menu__close {
    width: 7px;
    height: 7px;
    transition: 0.5s;
    transition-delay: 0.4s;
}

/* Active class */
.mainDiv .grid__menu__navigation.active ~ .grid__menu__close {
    width: 40px;
    height: 40px;
    pointer-events: initial;
    transition-delay: 0.8s;
    background: #2dfc52;
    border-radius: 8px;
}

.mainDiv .grid__menu__navigation ~ .grid__menu__close ion-icon {
    scale: 0;
    transition: 0.5s;
}

/* Active class */
.mainDiv .grid__menu__navigation.active ~ .grid__menu__close ion-icon {
    scale: 1;
    transition-delay: 1s;
}