[data-name="ArrowDown10Animate"] path[d="M17 10V4h-2"],
[data-name="ArrowDown10Animate"] path[d="M15 10h4"] {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-name="ArrowDown10Animate"] rect[x="15"][y="14"][width="4"][height="6"] {
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-name="ArrowDown10Animate"]:hover path[d="M17 10V4h-2"],
[data-name="ArrowDown10Animate"]:hover path[d="M15 10h4"] {
    transform: translateY(10px);
}

[data-name="ArrowDown10Animate"]:hover rect[x="15"][y="14"][width="4"][height="6"] {
    transform: translateY(-10px);
}
}