/* CLEAN: Step 1 ✔️ Step 2 ✔️ Step 3 ✔️ Step 4 ✔️ Step 5 ✔️ Step 7 ✔️ */
/* TW: Step 1 ✔️ Step 2 ✔️ Step 3 ✔️ Step 4 ✔️ Step 5 ✔️ Step 6 ✔️ Final ✔️ */

.slider__container {
  background: linear-gradient(149deg, #f700ff 0%, #ff9100 100%);
}

.slideshow__container::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  content: "";
  z-index: 1;
  box-sizing: border-box;
  pointer-events: none;
  background: none;
}

.slideshow__container::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  content: "";
  z-index: 1;
  box-sizing: border-box;
  pointer-events: none;
  background: none;
}

.slideshow__track {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slideshow__slide {
  scroll-snap-align: center;
  transform-origin: center center;
  transform: scale(1);
  background: white;
}

.slideshow__slide:nth-of-type(even) {
  background-color: #faf6d4;
}

.slideshow__slide a {
  background: none;
  border: none;
}

a.slide__prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slide__prev {
  top: 48%;
  border: solid black;
  border-width: 0 4px 4px 0;
}

.slide__next {
  top: 48%;
  border: solid black;
  border-width: 0 4px 4px 0;
}

.slider__nav {
  bottom: 5%;
  left: 50%;
}

.slider__navlink {
  background-color: black;
}

