/* TODO. Tailwind CSS  */
/* CLEAN: Step 1 ✔️ Step 2 ✔️ Step 3 ✔️ Step 4 ✔️ Step 5 ✔️ Step 7 ✔️ */
/* TW: Step 1 ✔️ Step 2 ✔️ */

.mainDiv {
  height: 100%;  
}

.slider__container {
  background: linear-gradient(149deg, #f700ff 0%, #ff9100 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slideshow__container {
  width: 100%;
  max-width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slideshow__container::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border-width: 0 4px 4px 0;
  box-sizing: border-box;
  content: "";
  z-index: 1;
  pointer-events: none;
}

.slideshow__container::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border-width: 0 4px 4px 0;
  box-sizing: border-box;
  content: "";
  z-index: 1;
  pointer-events: none;
}

.slideshow__track {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slideshow__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
}

.slideshow__slide:nth-of-type(even) {
}

.slideshow__slide a {
}

.slide__text {
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

a.slide__prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
}

a.slide__next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slide__prev {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border-width: 0 4px 4px 0;
  box-sizing: border-box;
}

.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border-width: 0 4px 4px 0;
  box-sizing: border-box;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

